<div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()'>

    <!-- Username -->
    <input type='text' name= "name" ng-model='user.username' required ng-minlength=6 >

    <div class="errors"
      ng-show="signupForm.name.$dirty && signupForm.name.$invalid">

      <div class="error"
        ng-show="signupForm.name.$error.required">
        Your name is required.
      </div>

      <div class="error"
        ng-show="signupForm.name.$error.minlength">
        Your name is required to be at least 6 characters
      </div>

    </div>


    <!--Password -->
    <input type="password" name="password" ng-model='user.password' required ng-minlength=6 ng-pattern='/^[a-zA-Z]+$/'>

    <div class="errors"
      ng-show="signupForm.password.$dirty && signupForm.password.$invalid">

      <div class="error"
        ng-show="signupForm.password.$error.required">
        Your password is required.
      </div>

      <div class="error"
        ng-show="signupForm.password.$error.minlength">
        Your password is required to be at least 6 characters
      </div>

      <div class="error"
        ng-show="signupForm.password.$error.pattern">
        Your password must contain only alphabetic characters.
      </div>

    </div>

    <button>signup</button>

  </form>

  <a href="#/signin">Already have an account? Signin ...</a>
</div>
