<div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()'>
    <!-- Username -->
    <input type='text' name= "name" ng-model='user.username' required ng-minlength=6 >

    <div class="errors"
      ng-show="signinForm.name.$dirty && signinForm.name.$invalid">

      <div class="error"
        ng-show="signinForm.name.$error.required">
        Your name is required.
      </div>

      <div class="error"
        ng-show="signinForm.name.$error.minlength">
        Your name is required to be at least 6 characters
      </div>

    </div>


    <!--Password -->
    <input type="password" name="password" ng-model='user.password' required ng-minlength=6 ng-pattern='/^[a-zA-Z]+$/'>

    <div class="errors"
      ng-show="signinForm.password.$dirty && signinForm.password.$invalid">

      <div class="error"
        ng-show="signinForm.password.$error.required">
        Your password is required.
      </div>

      <div class="error"
        ng-show="signinForm.password.$error.minlength">
        Your password is required to be at least 6 characters
      </div>

      <div class="error"
        ng-show="signinForm.password.$error.pattern">
        Your password must contain only alphabetic characters.
      </div>

    </div>
    <button>signin</button>
  </form>
  <a href="#/signup">Don't have an account? Signup ...</a>
</div>
